.notes-subtitle {
    /* font-size: 2.2rem; */
    color: #555;
    margin-bottom: 20px;
    font-weight: 900;

}

h2.notes-subtitle {
    font-size: 1.5rem;
    font-weight: 900;
}

.notes-subtitle{
    padding-top: 50px;
}

.notes-content h2{
    padding-bottom: 20px;
    /* background-color: red; */
}

.imagine-box{
    margin-bottom: 30px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid black;
    border-radius: 8px;
}

.underline{
    text-decoration: underline;
}