.Center{
    text-align: center;    
}



tbody tr td{
    background-color: rgb(250, 221, 221);
     font-size: small;
    padding: 10px;
}

thead{
    padding: 20px;
    background-color: rgb(168, 173, 168);
    margin: 10px;
}
.pad-bottom-1{
    padding-bottom: 10px;
}
.pad-bottom-2{
    padding-bottom: 20px;
}